form {
    color: red;
}


#board-grid {
display: grid;
grid-template-columns: repeat(4, 50px);
grid-gap: 8px;
}

#board-grid input {
width: 50px;
height: 50px;
text-align: center;
font-size: 24px;
text-transform: uppercase;
}
